## 데이터 로드 및 저장
- 000660 : 하이닉스
- 005380 : 현대차
- 005930 : 삼성전자
- 051910 : LG화학

In [12]:
import pymysql
import pandas

com_list = {'하이닉스' : '000660',
           '현대차' : '005380',
           '삼성전자' : '005930',
           'LG화학' : '051910'}
media_list = {'아시아경제_' : 'asia_',
             '매일경제_': 'maeil_',
             'youtube_한국경제_':'hk_',
             'youtube_삼프로_':'sampro_',
             'youtube_슈카_':'suka_'}

for n,m in media_list.items():
    for i,j in com_list.items():

        db = pymysql.connect(
            user='root', 
            passwd='1234', 
            host='3.35.70.166', 
            db='proj', 
            charset = 'utf8'
        )

        cursor = db.cursor(pymysql.cursors.DictCursor)
        if 'youtube' in n:
            sql = "select * from youtube_"+ m + j +" where length(date) = 10"
        else:
            sql = "select * from "+ m +"news_craw_" + j +" where length(date) = 10"  # date 널값 제외
        cursor.execute(sql)

        result = cursor.fetchall()

        # 데이터 프레임으로 변경
        df = pandas.DataFrame(result)

        # csv 저장
        df.to_csv('df_'+ n + i + '.csv', index=False)

In [24]:
import os, warnings
warnings.filterwarnings('ignore')
listdata = []

In [26]:
for i in os.listdir():
    if i[-4:] == '.csv':
        listdata.append(i)
        print(i)

df_youtube_슈카삼성전자.csv
holidays.csv
df_아시아경제_하이닉스.csv
df_아시아경제_현대차.csv
df_youtube_슈카LG화학.csv
df_매일경제_현대차.csv
df_youtube_한국경제삼성전자.csv
df_youtube_한국경제현대차.csv
매일경제_18to21.csv
df_youtube_삼프로현대차.csv
df_아시아경제_삼성전자.csv
df_youtube_삼프로LG화학.csv
df_youtube_삼프로삼성전자.csv
prec.csv
df_youtube_슈카하이닉스.csv
df_youtube_한국경제하이닉스.csv
df_youtube_삼프로하이닉스.csv
df_아시아경제_LG화학.csv
df_youtube_한국경제LG화학.csv
df_매일경제_삼성전자.csv
df_youtube_슈카현대차.csv
df_매일경제_하이닉스.csv
df_매일경제_LG화학.csv