## 데이터 로드
- 000660 : 하이닉스
- 005380 : 현대차
- 005930 : 삼성전자
- 051910 : LG화학

In [18]:
import pymysql
import pandas

com_list = {'하이닉스' : '000660',
           '현대차' : '005380',
           '삼성전자' : '005930',
           'LG화학' : '051910'}

for i,j in com_list.items():
    
    db = pymysql.connect(
        user='root', 
        passwd='1234', 
        host='3.35.70.166', 
        db='proj', 
        charset = 'utf8'
    )

    cursor = db.cursor(pymysql.cursors.DictCursor)

    sql = "select * from news_craw_" + j +" where length(date) = 10"  # date 널값 제외
    cursor.execute(sql)

    result = cursor.fetchall()

    # 데이터 프레임으로 변경
    df = pandas.DataFrame(result)
    
    # csv 저장
    df.to_csv('df_'+i+'.csv', index=False)

In [20]:
pandas.read_csv('df_현대차.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   st_n    3936 non-null   object
 1   st_cd   3936 non-null   int64
 2   news    3936 non-null   object
 3   date    3936 non-null   int64
 4   title   3936 non-null   object
 5   url     3936 non-null   object
 6   text    3936 non-null   object
dtypes: int64(2), object(5)
memory usage: 215.4+ KB