In [ ]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.26-cp37-cp37m-manylinux1_x86_64.whl (30.9 MB)
     |████████████████████████████████| 30.9 MB 80 kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.26

In [ ]:
import pymysql
import pandas

db = pymysql.connect(
    user='root', 
    passwd='1234', 
    host='3.35.70.166', 
    db='proj', 
    charset = 'utf8'
)

cursor = db.cursor(pymysql.cursors.DictCursor)

sql = "select * from news_craw"
cursor.execute(sql)

result = cursor.fetchall()

# 데이터 프레임으로 변경
df = pandas.DataFrame(result)

In [ ]:
df

      st_n  ...                                               text
0     삼성전자  ...  삼성전자가 이탈리아 명품 브랜드 구찌와 함께 전용 디지털 애플리케이션(앱) '가옥 ...
1     삼성전자  ...  [사진 제공 = 삼성전자] 갤럭시Z플립3와 Z폴드3 등 3세대 폴더블 스마트폰이 돌...
2     삼성전자  ...   5G(5세대) 이동통신 표준을 개발하는 3GPP(3rd Generation Par...
3     삼성전자  ...  [사진 = 이충우 기자] 한동안 국내 증시 투톱인 삼성전자와 SK하이닉스를 '패닉셀...
4     삼성전자  ...  갤럭시Z 플립3. [사진 제공=삼성전자] 삼성전자가 중국에서 폴더블폰 신작을 내놓자...
...    ...  ...                                                ...
1647  셀트리온  ...  인천시 연수구 송도국제도시 모습 [사진 = 인천경제청] 전국에 단 9곳 뿐인 경제자...
1648  셀트리온  ...  [자료 제공 = 한국투자증권] 하반기 경기 정점 우려감이 일면서 다시 BBIG(배터...
1649  셀트리온  ...  ◇신주배정기준일=에어부산(유상) 에이티세미콘(유상) 디케이티(무상)◇유상납입일=특수...
1650  셀트리온  ...  인도발 델타 변이가 전세계를 강타하면서 신종 코로나바이러스 감염증(코로나19) 4차...
1651  셀트리온  ...  미국 장기금리가 저공비행을 거듭하고 있어 성장주가 랠리를 이어갈지 관심을 모은다. ...

[1652 rows x 7 columns]

In [ ]:
df.columns

Index(['st_n', 'st_cd', 'news', 'n_date', 'title', 'url', 'text'], dtype='object')

In [ ]:
df.loc[:]

      st_n  ...                                               text
0     삼성전자  ...  삼성전자가 이탈리아 명품 브랜드 구찌와 함께 전용 디지털 애플리케이션(앱) '가옥 ...
1     삼성전자  ...  [사진 제공 = 삼성전자] 갤럭시Z플립3와 Z폴드3 등 3세대 폴더블 스마트폰이 돌...
2     삼성전자  ...   5G(5세대) 이동통신 표준을 개발하는 3GPP(3rd Generation Par...
3     삼성전자  ...  [사진 = 이충우 기자] 한동안 국내 증시 투톱인 삼성전자와 SK하이닉스를 '패닉셀...
4     삼성전자  ...  갤럭시Z 플립3. [사진 제공=삼성전자] 삼성전자가 중국에서 폴더블폰 신작을 내놓자...
...    ...  ...                                                ...
1647  셀트리온  ...  인천시 연수구 송도국제도시 모습 [사진 = 인천경제청] 전국에 단 9곳 뿐인 경제자...
1648  셀트리온  ...  [자료 제공 = 한국투자증권] 하반기 경기 정점 우려감이 일면서 다시 BBIG(배터...
1649  셀트리온  ...  ◇신주배정기준일=에어부산(유상) 에이티세미콘(유상) 디케이티(무상)◇유상납입일=특수...
1650  셀트리온  ...  인도발 델타 변이가 전세계를 강타하면서 신종 코로나바이러스 감염증(코로나19) 4차...
1651  셀트리온  ...  미국 장기금리가 저공비행을 거듭하고 있어 성장주가 랠리를 이어갈지 관심을 모은다. ...

[1652 rows x 7 columns]